numpy==2.2.6
opencv-python==4.11.0.86; sys_platform != 'linux' or platform_machine != 'aarch64'
opencv-python-headless==4.11.0.86; sys_platform == 'linux' and platform_machine == 'aarch64'
PyYAML==6.0.2
